<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
<![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>

    <title>Slackarma - Give Reputation to your Slack Teammates</title>

  </head>
  <body>

    <div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/gdroel/slackarma">Fork me on GitHub</a>
    </div>
</div>

    <div class="col-sm-12 hero-box">
      <h1 class="hero">Slackarma</h1>
      <p class="hero">Give karma to your teamate with a simple message, ++ @teammate.</p>
    </div>
    <!-- <div class="col-md-12 hero-img">
      <img src="/images/chat.png">
    </div> -->
    <div class="setup col-sm-8 col-sm-offset-2">
      <h2 class="setup-title">The One Minute Setup</h2>
      <hr>
      <ol>
        <li>
          <h3>Add Outgoing Webhook.</h3>
          <p>
            Go to
            <a target="_blank" href="https://my.slack.com/services/new/outgoing-webhook">
              https://my.slack.com/services/new/outgoing-webhook
            </a>
            and add a new outgoing webhook.
          </p>
        </li>
        <li>
          <h3>Populate Information</h3>
          <p>
            Set the Channel to "Any." Set the Trigger Words to "++" (without the quotation marks)
            Enter in <a target="_blank" href="slackarma.gaberoeloffs.com/add">slackarma.gaberoeloffs.com/add</a> as the URL. Customize the username and profile
            picture as you wish. :)
          </p>
        </li>
        <li>
          <h3>Give and Get Karma</h3>
          <p>
            Give someone a reputation point like "++ @username". If you want to check and see how many
            reputation points someone has, just type "++ leaderbaord". Quick note: In an effort to be as
            unobtrusive as possible, karma-bot is silent when karma is given. karma-bot only posts
            when there is an error or someone checks the leaderboard.
          </p>
        </li>
      </ol>
    </div>
    <div class="col-sm-12 footer">
      <p>
        Made by <a class="underline" href="http://gaberoeloffs.com">Gabe Roeloffs</a>. Gabe is looking for a summer internship on the central coast or in SF.
      </p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
