<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->
<DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ERROR: The requested URL could not be retrieved</title>
<style type="text/css"><!--

body
:lang(fa) { direction: rtl; font-size: 100%; font-family: Tahoma, Roya, sans-serif; float: right; }
:lang(he) { direction: rtl; }
--></style>
</head><body id=ERR_ACCESS_DENIED>
<div id="titles">
<h1>ERROR</h1>
<h2>The requested URL could not be retrieved</h2>
</div>
<hr>

<div id="content">
<p>The following error was encountered while trying to retrieve the URL: <a href="http://localhost:3000/command?">http://localhost:3000/command?</a></p>

<blockquote id="error">
<p><b>Access Denied.</b></p>
</blockquote>

<p>Access control configuration prevents your request from being allowed at this time. Please contact your service provider if you feel this is incorrect.</p>

<p>Your cache administrator is <a href="mailto:webmaster?subject=CacheErrorInfo%20-%20ERR_ACCESS_DENIED&body=CacheHost%3A%20localhost%0D%0AErrPage%3A%20ERR_ACCESS_DENIED%0D%0AErr%3A%20%5Bnone%5D%0D%0ATimeStamp%3A%20Fri,%2029%20May%202015%2003%3A56%3A18%20GMT%0D%0A%0D%0AClientIP%3A%2010.4.44.105%0D%0A%0D%0AHTTP%20Request%3A%0D%0AGET%20%2Fcommand%3Ftoken%3D7Za3UmMVTLOS99QRGWYys2wZ%26team_id%3DT04RL0M13%26team_domain%3Dgaberoeloffs%26channel_id%3DC04RL0M55%26channel_name%3Dgeneral%26user_id%3DU04RL0M1F%26user_name%3Dgabe%26command%3D%252Frep%26text%3D%20HTTP%2F1.1%0AUser-Agent%3A%20Slackbot%201.0%20(+https%3A%2F%2Fapi.slack.com%2Frobots)%0D%0AHost%3A%20localhost%3A3000%0D%0AAccept%3A%20*%2F*%0D%0AAccept-Encoding%3A%20gzip,deflate%0D%0AProxy-Connection%3A%20Keep-Alive%0D%0A%0D%0A%0D%0A">webmaster</a>.</p>
<br>
</div>

<hr>
<div id="footer">
<p>Generated Fri, 29 May 2015 03:56:18 GMT by localhost (squid/3.1.19)</p>
<!-- ERR_ACCESS_DENIED -->
</div>
</body></html>
